@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  color: #23252c;
  background: #D9E0EA;
}

main {
  background-color: #fff;
  width: 30rem;
  margin: 5rem auto;
  padding: 1.2rem;
  border-radius: 1rem;
}

p, h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* First Section */
#slack-display-image {
  width: 17rem;
  height: 17rem;
  border-radius: 1rem;
}

#slack-user-name {
 margin-top: 0.4rem;
 margin-bottom: 0.4rem;
 font-size: x-large;
}

#hngx-track {
 margin-bottom: 0.4rem;
 font-weight: medium;
 font-size: large;
}

#pronouns {
 margin-bottom: 0.4rem;
 font-size: medium;
}

/* Online Status */
#online-status {
display: flex;
align-items: center;
}

#online-status-indicator{
 width: 9px;
 height: 9px;
 border-radius: 50%;
 background-color: #007A5A;
 margin: 0.5rem;
}

#online-status > span {

}

/* Time and Date */
.time-and-date {

}

.time-and-date > p {

}

/* Contact Section */
.contact-info {
 display: flex;
}

#contact-header {
 font-weight: bold;
}

.contact-info > i, .time-and-date > i {
 height: 1.2rem;
 width: 1.2rem;
 color: #6E6D6E;
 display: inline-block;
 margin-right: 0.5rem;
}

.contact-info > div {
  display: inline-block;
}

.contact-info > div > a {
 color: lightgray;
}

.contact-info > div > p {
 color: blue;
}

/* Footer */
#source-code {

}

/* Generic Reusable classes */
.center-with-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

